h1{font-family:sans-serif;
    font-size: 50px;
      text-align:center;}
     body{background-image:url("https://res.cloudinary.com/cmgverticals/image/upload/c_fill,h_628,q_80,w_1200/e_sharpen,f_auto,fl_lossy,q_auto/v1514753998/College-Football-Playoff-semifinals-Kelly-Bryant-Baker-Mayfield-Jalen-Hurts-Nick-Chubb-championship-trophy-white-by-Getty-Images-DRC_1234_fdtsga_qdhlos.jpg");}
    body{text-align:center;
      font-size:30px;}
    P{COLOR:white} 
    
    
